.Tradecreate{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;  
  
    }

    .baT{
      background-color: rgb(212, 211, 211);
      padding: 5px 60px;
      border-radius: 10px;
      height: 80vh;
      max-width: fit-content;
      margin-left: 9cm;       
    
    }
    .baC{
      background-color: rgb(212, 211, 211);
      padding: 5px 60px;
      border-radius: 10px;
      height: 80vh;
      max-width: fit-content;
      margin-left: 9cm;       
    
    }
    h2{
      text-align: center;
      color: black;
      padding-top: 0.5cm;
    }
    .detailT{
      margin-left: 5cm;
    }
    /* .parent {
        border: 1px solid black;
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: center;
      }
      .child {
        display: inline-block;
        border: 1px solid rgb(44, 34, 34);
        padding: 1rem 1rem;
        vertical-align: middle;
      } */

    .labeT{
    /* display: block;
    font-size: medium;
    color: rgb(24, 6, 6);
    padding: 5px; */
    font-size: medium;
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 300px;
  line-height: 22px;
  margin-bottom: 4px;
    }
    
    .inpuT{
    /* font-size: medium;
    padding: 5px;
    margin: 2px; */
    margin: 6px;
    height: 28px;
    flex: 0 0 200px;
    margin-left: 10px;
    
    }
    .butnT{
    color: white;
    background-color: rgb(94, 213, 243);
    border-radius: 5px;
    font-size: large;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: rgb(28, 236, 202);
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
